.animate__animated.animate__fadeIn {
  --animate-duration: 4s;
}

.full-container {
  height: 100vh;
  width: 100%;
}

.img-container {
  position: relative;
  min-width: 768px;
}

.title-text {
  /* display: none; */
  z-index: 120;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: calc(1em + 1.9vw);
  left: 19%;
  top: 22%;
  opacity: 0.9;
}

.start-text {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: calc(0.5em + 0.8vw);
  left: 19%;
  top: 29%;
  opacity: 0.9;
}

.loading-text {
  color: white;
}


/* TextScreen */
.textarea {
  padding: 15px;
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: auto;
  margin-top: 5vh; 
  height: 600px;
  min-height: 600px;
  width: 1024px;
  min-width: 1024px;
  opacity: 0.92;
  color: white;
}

.next-text {
  z-index: 100;
  position: absolute;
  font-size: calc(0.4em + 0.5vw);
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vh;
  grid-template-rows: repeat(6, 1fr);
}

/*grid positions*/

/*GRID COLUMNS*/
/*START*/
.gcs-1 {
  grid-column-start: 1;
}
.gcs-2 {
  grid-column-start: 2;
}
.gcs-3 {
  grid-column-start: 3;
}
.gcs-4 {
  grid-column-start: 4;
}
.gcs-5 {
  grid-column-start: 5;
}
.gcs-6 {
  grid-column-start: 6;
}

/*END*/
.gce-1 {
  grid-column-end: 1;
}
.gce-2 {
  grid-column-end: 2;
}
.gce-3 {
  grid-column-end: 3;
}
.gce-4 {
  grid-column-end: 4;
}
.gce-5 {
  grid-column-end: 5;
}
.gce-6 {
  grid-column-end: 6;
}
.gce-7 {
  grid-column-end: 7;
}


/*GRID ROWS*/
/*START*/
.grs-1 {
  grid-row-start: 1;
}
.grs-2 {
  grid-row-start: 2;
}
.grs-3 {
  grid-row-start: 3;
}
.grs-4 {
  grid-row-start: 4;
}
.grs-5 {
  grid-row-start: 5;
}
.grs-6 {
  grid-row-start: 6;
}

/*END*/
.gre-1 {
  grid-row-end: 1;
}
.gre-2 {
  grid-row-end: 2;
}
.gre-3 {
  grid-row-end: 3;
}
.gre-4 {
  grid-row-end: 4;
}
.gre-5 {
  grid-row-end: 5;
}
.gre-6 {
  grid-row-end: 6;
}
.gre-7 {
  grid-row-end: 7;
}


/*Posiciones*/
.up {
  align-self: start;
}

.center {
  align-self: center;
}

.center-vert {
  place-self: center;
}

.down {
  align-self: end;
}

.left {
  justify-self: start;
}

.center-hori {
  justify-self: center;
}

.right {
  justify-self: end;
}

/*RUEDA pagina 3*/
.rueda-cabeza {
  padding-left: 2ch;
  margin-left: 2px;
}
.rueda-r {
  padding-left: 8ch;
  margin-left: 2px;
}
.rueda-u {
  padding-left: 10ch;
}
.rueda-e {
  padding-left: 12ch;
}
.rueda-d {
  padding-left: 14ch;
}
.rueda-a {
  padding-left: 16ch;
}
.encuentra {
  padding-left: 4ch;
}

/*SE QUEMA pagina 3*/
.sequema2 {
  padding-left: 14ch;
}
.sequema3 {
  padding-left: 22ch;
}
.pero {
  padding-left: 30ch;
}

/*SE QUEMA pagina 4*/
.sequemaI {
  padding-left: 14ch;
}
.sequemaII {
  padding-left: 22ch;
}
.nopuedo {
  padding-left: 30ch;
}

/*NADA CON NADA pagina 3*/
.nada1 {
  padding-left: 14ch;
}
.con {
  padding-left: 18ch;
}

.nada2 {
  padding-left: 21ch;
}

/*NADA CON NADA pagina 5*/
.nada3 {
  padding-left: 9ch;
}

.con2 {
  padding-left: 13ch;
}

.nada4 {
  padding-left: 16ch;
}

/*CREDITS*/
.tar {
  text-align: right;
}
  
hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.link:hover {
  text-decoration: underline;
  color: white;
}

/* COMPLETE TEXT SCREEN */

.black-bg {
  background-color: rgb(8, 8, 8);
}

.complete-textarea {
  padding: 15px;
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: auto;
  height: 600px;
  min-height: 600px;
  width: 1024px;
  min-width: 1024px;
  opacity: 0.92;
  color: white;
}


