.animate__animated.animate__fadeIn {
  --animate-duration: 4s;
}

.full-container {
  
  height: 100vh;
  width: 100vw;
}



.img-container {
  position: relative;
  min-width: 768px;
}

/*100vh = una altura de la pantalla*/
/*100vw = un ancho de la pantalla*/


.title-text {
  /* display: none; */
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: calc(1em + 1.9vw);
  left: 19%;
  top: 22%;
  opacity: 0.9;
}

.start-text {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: calc(0.5em + 0.8vw);
  left: 19%;
  top: 29%;
  opacity: 0.9;
}

.loading-text {
  color: white;
}


/* TextScreen */
.textarea {
  padding: 15px;
  position: relative;
  background-color: rgb(0, 0, 0);
  margin-top: 5vh;
  height: 600px;
  min-height: 600px;
  width: 1024px;
  min-width: 1024px;
  opacity: 0.92;
  color: white;
}

.next-text {
  z-index: 100;
  position: absolute;
  font-size: calc(0.5em + 0.8vw);
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vh;
  grid-template-rows: repeat(6, 1fr);
}

/*grid positions*/

/*GRID COLUMNS*/
/*START*/
.gcs-1 {
  grid-column-start: 1;
}
.gcs-2 {
  grid-column-start: 2;
}
.gcs-3 {
  grid-column-start: 3;
}
.gcs-4 {
  grid-column-start: 4;
}
.gcs-5 {
  grid-column-start: 5;
}
.gcs-6 {
  grid-column-start: 6;
}

/*END*/
.gce-1 {
  grid-column-end: 1;
}
.gce-2 {
  grid-column-end: 2;
}
.gce-3 {
  grid-column-end: 3;
}
.gce-4 {
  grid-column-end: 4;
}
.gce-5 {
  grid-column-end: 5;
}
.gce-6 {
  grid-column-end: 6;
}
.gce-7 {
  grid-column-end: 7;
}


/*GRID ROWS*/
/*START*/
.grs-1 {
  grid-row-start: 1;
}
.grs-2 {
  grid-row-start: 2;
}
.grs-3 {
  grid-row-start: 3;
}
.grs-4 {
  grid-row-start: 4;
}
.grs-5 {
  grid-row-start: 5;
}
.grs-6 {
  grid-row-start: 6;
}

/*END*/
.gre-1 {
  grid-row-end: 1;
}
.gre-2 {
  grid-row-end: 2;
}
.gre-3 {
  grid-row-end: 3;
}
.gre-4 {
  grid-row-end: 4;
}
.gre-5 {
  grid-row-end: 5;
}
.gre-6 {
  grid-row-end: 6;
}
.gre-7 {
  grid-row-end: 7;
}

.up {
  align-self: start;
}

.center {
  align-self: center;
}

.down {
  align-self: end;
}

.left {
  justify-self: start;
}

.center-hori {
  justify-self: center;
}

.right {
  justify-self: end;
}



/*RUEDA*/
.rueda-cabeza {
  padding-left: 3ch;
}
.rueda-r {
  padding-left: 10ch;
}
.rueda-u {
  padding-left: 12ch;
}
.rueda-e {
  padding-left: 14ch;
}
.rueda-d {
  padding-left: 16ch;
}
.rueda-a {
  padding-left: 18ch;
}

/*SE QUEMA*/
.sequema2 {
  padding-left: 16ch;
}
.sequema3 {
  padding-left: 26ch;
}
.pero {
  padding-left: 36ch;
}

.center-vert {
  place-self: center;
}

/*SE QUEMA 2*/
.sequemaI {
  padding-left: 15ch;
}
.sequemaII {
  padding-left: 24ch;

}
.nopuedo {
  padding-left: 33ch;

}
.center-vert {
  place-self: center;
}


.one {
  grid-column: 1 / 4;
  grid-row: 1;
}

.two {
  grid-column: 2 / 4;
  grid-row: 2;
}

.three {
  grid-column: 2 / 4;
  grid-row: 3;
}

.img-left {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.audio {
  
}

.mb-0 {
  margin-bottom: 0px;
}