.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.img-container {
  position: relative;
  min-width: 768px;
}

/*100vh = una altura de la pantalla*/
/*100vw = un ancho de la pantalla*/

.title-text {
  /* display: none; */
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: calc(1em + 1.9vw);
  left: 19%;
  top: 18%;
  /* top: calc(1em + 2vh); */
  opacity: 0.9;
}

.start-text {
  z-index: 100;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: calc(1em + 2vw);
  left: 65%;
  top: 75%;
  opacity: 0.3;
}


